extends layout

block content

  h1 #{name}
  
  p Participants: #{participants}
  p Desctiption: #{description}
  p Starting date: #{startingDate}
  p Ending date: #{endingDate}
  p Duration: #{duration}
  
  a(href='/') Etusivulle